.font-feature-settings(@kern: 0; @liga: 0; @lnum: 0) {
  -webkit-font-feature-settings: 'kern' @kern, 'liga' @liga, 'lnum' @lnum;
     -moz-font-feature-settings: 'kern' @kern, 'liga' @liga, 'lnum' @lnum;
      -ms-font-feature-settings: 'kern' @kern, 'liga' @liga, 'lnum' @lnum;
       -o-font-feature-settings: 'kern' @kern, 'liga' @liga, 'lnum' @lnum;
          font-feature-settings: 'kern' @kern, 'liga' @liga, 'lnum' @lnum;
}
